
microcontroller/.jxbrowser.userdata/BrowserMetrics-spare.pma
microcontroller/.jxbrowser.userdata/BrowserMetrics/BrowserMetrics-61830130-188.pma
microcontroller/.jxbrowser.userdata/CertificateRevocation/6954/_metadata/verified_contents.json
microcontroller/.jxbrowser.userdata/CertificateRevocation/6954/crl-set
microcontroller/.jxbrowser.userdata/CertificateRevocation/6954/LICENSE
microcontroller/.jxbrowser.userdata/CertificateRevocation/6954/manifest.fingerprint
microcontroller/.jxbrowser.userdata/CertificateRevocation/6954/manifest.json
microcontroller/.jxbrowser.userdata/Crowd Deny/2021.10.25.1141/_metadata/verified_contents.json
microcontroller/.jxbrowser.userdata/Crowd Deny/2021.10.25.1141/manifest.fingerprint
microcontroller/.jxbrowser.userdata/Crowd Deny/2021.10.25.1141/manifest.json
microcontroller/.jxbrowser.userdata/Crowd Deny/2021.10.25.1141/Preload Data
microcontroller/.jxbrowser.userdata/Default/AutofillStrikeDatabase/LOCK
microcontroller/.jxbrowser.userdata/Default/AutofillStrikeDatabase/LOG
microcontroller/.jxbrowser.userdata/Default/AutofillStrikeDatabase/LOG.old
microcontroller/.jxbrowser.userdata/Default/BudgetDatabase/LOCK
microcontroller/.jxbrowser.userdata/Default/BudgetDatabase/LOG
microcontroller/.jxbrowser.userdata/Default/BudgetDatabase/LOG.old
microcontroller/.jxbrowser.userdata/Default/Cache/data_0
microcontroller/.jxbrowser.userdata/Default/Cache/data_1
microcontroller/.jxbrowser.userdata/Default/Cache/data_2
microcontroller/.jxbrowser.userdata/Default/Cache/data_3
microcontroller/.jxbrowser.userdata/Default/Cache/f_000001
microcontroller/.jxbrowser.userdata/Default/Cache/f_000002
microcontroller/.jxbrowser.userdata/Default/Cache/f_000003
microcontroller/.jxbrowser.userdata/Default/Cache/f_000004
microcontroller/.jxbrowser.userdata/Default/Cache/f_000005
microcontroller/.jxbrowser.userdata/Default/Cache/f_000006
microcontroller/.jxbrowser.userdata/Default/Cache/f_000007
microcontroller/.jxbrowser.userdata/Default/Cache/f_000008
microcontroller/.jxbrowser.userdata/Default/Cache/f_000009
microcontroller/.jxbrowser.userdata/Default/Cache/f_00000a
microcontroller/.jxbrowser.userdata/Default/Cache/f_00000b
microcontroller/.jxbrowser.userdata/Default/Cache/f_00000c
microcontroller/.jxbrowser.userdata/Default/Cache/index
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/02f80ba84e1a6f24_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/032b5a5df85f7242_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/06c9234baabfbc49_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/0d0554cdbec56c67_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/121f428e48ab5953_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/18595c9ff6b803ea_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/2f5b9a70696c24a0_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/32be7caab0f63fea_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/343125e0bb79db60_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/3e48c2da1532ceb5_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/407a40fdca7f8aa0_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/46009fb87bde5f79_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/49d0abaf4be97412_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/60a7515ffe2e46f5_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/60bd5d2121ef7d9f_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/733656838d1448cc_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/76ded36df8be7aac_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/7d00b69417d258ba_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/7eae7dfeb4821def_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/878231e177cf30f2_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/90f4e175f2a8fda6_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/93fe76b97a6ccb1b_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/992c88059b4fd5f0_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/a87789176dd9af51_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/bc0fdd6fcd87253a_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/c0892abab103108a_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/cd0b41b2658a5060_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/ce448d434af66476_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/d4adce1bb91f7a29_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/d9eba0a0b465b92f_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/e6653dfed310b8e9_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/e6b1fcfa59e855c1_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/e8238270027790f6_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/ea1464037273cade_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/eb0540fa376ff6c5_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/ecab9add6e82879f_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/f21b1e91bad2283b_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/f49627a27b0bf178_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/fa485e0bf0f923c3_0
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/index
microcontroller/.jxbrowser.userdata/Default/Code Cache/js/index-dir/the-real-index
microcontroller/.jxbrowser.userdata/Default/Code Cache/wasm/index
microcontroller/.jxbrowser.userdata/Default/Code Cache/wasm/index-dir/the-real-index
microcontroller/.jxbrowser.userdata/Default/Cookies
microcontroller/.jxbrowser.userdata/Default/Cookies-journal
microcontroller/.jxbrowser.userdata/Default/Current Session
microcontroller/.jxbrowser.userdata/Default/Current Tabs
microcontroller/.jxbrowser.userdata/Default/data_reduction_proxy_leveldb/000007.log
microcontroller/.jxbrowser.userdata/Default/data_reduction_proxy_leveldb/CURRENT
microcontroller/.jxbrowser.userdata/Default/data_reduction_proxy_leveldb/LOCK
microcontroller/.jxbrowser.userdata/Default/data_reduction_proxy_leveldb/LOG
microcontroller/.jxbrowser.userdata/Default/data_reduction_proxy_leveldb/LOG.old
microcontroller/.jxbrowser.userdata/Default/data_reduction_proxy_leveldb/MANIFEST-000006
microcontroller/.jxbrowser.userdata/Default/Extension State/000003.log
microcontroller/.jxbrowser.userdata/Default/Extension State/CURRENT
microcontroller/.jxbrowser.userdata/Default/Extension State/LOCK
microcontroller/.jxbrowser.userdata/Default/Extension State/LOG
microcontroller/.jxbrowser.userdata/Default/Extension State/LOG.old
microcontroller/.jxbrowser.userdata/Default/Extension State/MANIFEST-000001
microcontroller/.jxbrowser.userdata/Default/Favicons
microcontroller/.jxbrowser.userdata/Default/Favicons-journal
microcontroller/.jxbrowser.userdata/Default/Feature Engagement Tracker/AvailabilityDB/LOCK
microcontroller/.jxbrowser.userdata/Default/Feature Engagement Tracker/AvailabilityDB/LOG
microcontroller/.jxbrowser.userdata/Default/Feature Engagement Tracker/AvailabilityDB/LOG.old
microcontroller/.jxbrowser.userdata/Default/Feature Engagement Tracker/EventDB/LOCK
microcontroller/.jxbrowser.userdata/Default/Feature Engagement Tracker/EventDB/LOG
microcontroller/.jxbrowser.userdata/Default/Feature Engagement Tracker/EventDB/LOG.old
microcontroller/.jxbrowser.userdata/Default/GCM Store/Encryption/000003.log
microcontroller/.jxbrowser.userdata/Default/GCM Store/Encryption/CURRENT
microcontroller/.jxbrowser.userdata/Default/GCM Store/Encryption/LOCK
microcontroller/.jxbrowser.userdata/Default/GCM Store/Encryption/LOG
microcontroller/.jxbrowser.userdata/Default/GCM Store/Encryption/LOG.old
microcontroller/.jxbrowser.userdata/Default/GCM Store/Encryption/MANIFEST-000001
microcontroller/.jxbrowser.userdata/Default/GPUCache/data_0
microcontroller/.jxbrowser.userdata/Default/GPUCache/data_1
microcontroller/.jxbrowser.userdata/Default/GPUCache/data_2
microcontroller/.jxbrowser.userdata/Default/GPUCache/data_3
microcontroller/.jxbrowser.userdata/Default/GPUCache/index
microcontroller/.jxbrowser.userdata/Default/heavy_ad_intervention_opt_out.db
microcontroller/.jxbrowser.userdata/Default/heavy_ad_intervention_opt_out.db-journal
microcontroller/.jxbrowser.userdata/Default/History
microcontroller/.jxbrowser.userdata/Default/History Provider Cache
microcontroller/.jxbrowser.userdata/Default/History-journal
microcontroller/.jxbrowser.userdata/Default/Last Session
microcontroller/.jxbrowser.userdata/Default/Last Tabs
microcontroller/.jxbrowser.userdata/Default/Local Storage/leveldb/000003.log
microcontroller/.jxbrowser.userdata/Default/Local Storage/leveldb/CURRENT
microcontroller/.jxbrowser.userdata/Default/Local Storage/leveldb/LOCK
microcontroller/.jxbrowser.userdata/Default/Local Storage/leveldb/LOG
microcontroller/.jxbrowser.userdata/Default/Local Storage/leveldb/LOG.old
microcontroller/.jxbrowser.userdata/Default/Local Storage/leveldb/MANIFEST-000001
microcontroller/.jxbrowser.userdata/Default/LOCK
microcontroller/.jxbrowser.userdata/Default/LOG
microcontroller/.jxbrowser.userdata/Default/LOG.old
microcontroller/.jxbrowser.userdata/Default/Login Data
microcontroller/.jxbrowser.userdata/Default/Login Data-journal
microcontroller/.jxbrowser.userdata/Default/Media History
microcontroller/.jxbrowser.userdata/Default/Media History-journal
microcontroller/.jxbrowser.userdata/Default/Network Action Predictor
microcontroller/.jxbrowser.userdata/Default/Network Action Predictor-journal
microcontroller/.jxbrowser.userdata/Default/Network Persistent State
microcontroller/.jxbrowser.userdata/Default/Platform Notifications/000003.log
microcontroller/.jxbrowser.userdata/Default/Platform Notifications/CURRENT
microcontroller/.jxbrowser.userdata/Default/Platform Notifications/LOCK
microcontroller/.jxbrowser.userdata/Default/Platform Notifications/LOG
microcontroller/.jxbrowser.userdata/Default/Platform Notifications/LOG.old
microcontroller/.jxbrowser.userdata/Default/Platform Notifications/MANIFEST-000001
microcontroller/.jxbrowser.userdata/Default/Preferences
microcontroller/.jxbrowser.userdata/Default/previews_opt_out.db
microcontroller/.jxbrowser.userdata/Default/previews_opt_out.db-journal
microcontroller/.jxbrowser.userdata/Default/README
microcontroller/.jxbrowser.userdata/Default/Secure Preferences
microcontroller/.jxbrowser.userdata/Default/Session Storage/000003.log
microcontroller/.jxbrowser.userdata/Default/Session Storage/CURRENT
microcontroller/.jxbrowser.userdata/Default/Session Storage/LOCK
microcontroller/.jxbrowser.userdata/Default/Session Storage/LOG
microcontroller/.jxbrowser.userdata/Default/Session Storage/LOG.old
microcontroller/.jxbrowser.userdata/Default/Session Storage/MANIFEST-000001
microcontroller/.jxbrowser.userdata/Default/shared_proto_db/000003.log
microcontroller/.jxbrowser.userdata/Default/shared_proto_db/CURRENT
microcontroller/.jxbrowser.userdata/Default/shared_proto_db/LOCK
microcontroller/.jxbrowser.userdata/Default/shared_proto_db/LOG
microcontroller/.jxbrowser.userdata/Default/shared_proto_db/LOG.old
microcontroller/.jxbrowser.userdata/Default/shared_proto_db/MANIFEST-000001
microcontroller/.jxbrowser.userdata/Default/shared_proto_db/metadata/000003.log
microcontroller/.jxbrowser.userdata/Default/shared_proto_db/metadata/CURRENT
microcontroller/.jxbrowser.userdata/Default/shared_proto_db/metadata/LOCK
microcontroller/.jxbrowser.userdata/Default/shared_proto_db/metadata/LOG
microcontroller/.jxbrowser.userdata/Default/shared_proto_db/metadata/LOG.old
microcontroller/.jxbrowser.userdata/Default/shared_proto_db/metadata/MANIFEST-000001
microcontroller/.jxbrowser.userdata/Default/Shortcuts
microcontroller/.jxbrowser.userdata/Default/Shortcuts-journal
microcontroller/.jxbrowser.userdata/Default/Site Characteristics Database/000003.log
microcontroller/.jxbrowser.userdata/Default/Site Characteristics Database/CURRENT
microcontroller/.jxbrowser.userdata/Default/Site Characteristics Database/LOCK
microcontroller/.jxbrowser.userdata/Default/Site Characteristics Database/LOG
microcontroller/.jxbrowser.userdata/Default/Site Characteristics Database/LOG.old
microcontroller/.jxbrowser.userdata/Default/Site Characteristics Database/MANIFEST-000001
microcontroller/.jxbrowser.userdata/Default/Sync Data/LevelDB/000003.log
microcontroller/.jxbrowser.userdata/Default/Sync Data/LevelDB/CURRENT
microcontroller/.jxbrowser.userdata/Default/Sync Data/LevelDB/LOCK
microcontroller/.jxbrowser.userdata/Default/Sync Data/LevelDB/LOG
microcontroller/.jxbrowser.userdata/Default/Sync Data/LevelDB/LOG.old
microcontroller/.jxbrowser.userdata/Default/Sync Data/LevelDB/MANIFEST-000001
microcontroller/.jxbrowser.userdata/Default/Top Sites
microcontroller/.jxbrowser.userdata/Default/Top Sites-journal
microcontroller/.jxbrowser.userdata/Default/Visited Links
microcontroller/.jxbrowser.userdata/Default/Web Data
microcontroller/.jxbrowser.userdata/Default/Web Data-journal
microcontroller/.jxbrowser.userdata/ECSerivceProvidersConfig/1/_metadata/verified_contents.json
microcontroller/.jxbrowser.userdata/ECSerivceProvidersConfig/1/manifest.fingerprint
microcontroller/.jxbrowser.userdata/ECSerivceProvidersConfig/1/manifest.json
microcontroller/.jxbrowser.userdata/ECSerivceProvidersConfig/1/service_providers.json
microcontroller/.jxbrowser.userdata/FileTypePolicies/45/_metadata/verified_contents.json
microcontroller/.jxbrowser.userdata/FileTypePolicies/45/download_file_types.pb
microcontroller/.jxbrowser.userdata/FileTypePolicies/45/manifest.fingerprint
microcontroller/.jxbrowser.userdata/FileTypePolicies/45/manifest.json
microcontroller/.jxbrowser.userdata/First Run
microcontroller/.jxbrowser.userdata/GrShaderCache/GPUCache/data_0
microcontroller/.jxbrowser.userdata/GrShaderCache/GPUCache/data_1
microcontroller/.jxbrowser.userdata/GrShaderCache/GPUCache/data_2
microcontroller/.jxbrowser.userdata/GrShaderCache/GPUCache/data_3
microcontroller/.jxbrowser.userdata/GrShaderCache/GPUCache/index
microcontroller/.jxbrowser.userdata/Last Browser
microcontroller/.jxbrowser.userdata/Last Version
microcontroller/.jxbrowser.userdata/Local State
microcontroller/.jxbrowser.userdata/Local Storage - EXT/http_127.0.0.1.localstorage
microcontroller/.jxbrowser.userdata/lockfile
microcontroller/.jxbrowser.userdata/Module Info Cache
microcontroller/.jxbrowser.userdata/OriginTrials/1.0.0.9/_metadata/verified_contents.json
microcontroller/.jxbrowser.userdata/OriginTrials/1.0.0.9/manifest.fingerprint
microcontroller/.jxbrowser.userdata/OriginTrials/1.0.0.9/manifest.json
microcontroller/.jxbrowser.userdata/SafetyTips/2727/_metadata/verified_contents.json
microcontroller/.jxbrowser.userdata/SafetyTips/2727/manifest.fingerprint
microcontroller/.jxbrowser.userdata/SafetyTips/2727/manifest.json
microcontroller/.jxbrowser.userdata/SafetyTips/2727/safety_tips.pb
microcontroller/.jxbrowser.userdata/ShaderCache/GPUCache/data_0
microcontroller/.jxbrowser.userdata/ShaderCache/GPUCache/data_1
microcontroller/.jxbrowser.userdata/ShaderCache/GPUCache/data_2
microcontroller/.jxbrowser.userdata/ShaderCache/GPUCache/data_3
microcontroller/.jxbrowser.userdata/ShaderCache/GPUCache/index
microcontroller/.jxbrowser.userdata/SSLErrorAssistant/7/_metadata/verified_contents.json
microcontroller/.jxbrowser.userdata/SSLErrorAssistant/7/manifest.fingerprint
microcontroller/.jxbrowser.userdata/SSLErrorAssistant/7/manifest.json
microcontroller/.jxbrowser.userdata/SSLErrorAssistant/7/ssl_error_assistant.pb
microcontroller/.jxbrowser.userdata/Subresource Filter/Indexed Rules/27/9.32.0/Ruleset Data
microcontroller/.jxbrowser.userdata/Subresource Filter/Unindexed Rules/9.32.0/_metadata/verified_contents.json
microcontroller/.jxbrowser.userdata/Subresource Filter/Unindexed Rules/9.32.0/Filtering Rules
microcontroller/.jxbrowser.userdata/Subresource Filter/Unindexed Rules/9.32.0/LICENSE.txt
microcontroller/.jxbrowser.userdata/Subresource Filter/Unindexed Rules/9.32.0/manifest.fingerprint
microcontroller/.jxbrowser.userdata/Subresource Filter/Unindexed Rules/9.32.0/manifest.json
microcontroller/.jxbrowser.userdata/TLSDeprecationConfig/4/_metadata/verified_contents.json
microcontroller/.jxbrowser.userdata/TLSDeprecationConfig/4/manifest.fingerprint
microcontroller/.jxbrowser.userdata/TLSDeprecationConfig/4/manifest.json
microcontroller/.jxbrowser.userdata/TLSDeprecationConfig/4/tls_deprecation_config.pb
microcontroller/homebrew-controller/.ccsproject
microcontroller/homebrew-controller/.cproject
microcontroller/homebrew-controller/.project
microcontroller/homebrew-controller/.settings/org.eclipse.cdt.codan.core.prefs
microcontroller/homebrew-controller/.settings/org.eclipse.cdt.debug.core.prefs
microcontroller/homebrew-controller/.settings/org.eclipse.core.resources.prefs
microcontroller/homebrew-controller/Debug/ccsObjs.opt
microcontroller/homebrew-controller/Debug/homebrew-controller.map
microcontroller/homebrew-controller/Debug/homebrew-controller_linkInfo.xml
microcontroller/homebrew-controller/Debug/main.d
microcontroller/homebrew-controller/Debug/makefile
microcontroller/homebrew-controller/Debug/objects.mk
microcontroller/homebrew-controller/Debug/sources.mk
microcontroller/homebrew-controller/Debug/subdir_rules.mk
microcontroller/homebrew-controller/Debug/subdir_vars.mk
microcontroller/homebrew-controller/Debug/tm4c123gh6pm_startup_ccs.d
microcontroller/homebrew-controller/Debug/tm4c123gh6pm_startup_ccs.obj
__pycache__

